<h1>Here is the your game: "<%=@game.title%>"</h1><br>
<h2>Number of Players: <%= @game.number_of_players %></h2>
<h2>Estimated time to play: <%= @game.est_time_to_play %></h2>
<h2>Game Information: <%= @game.game_info %></h2>
<h2>Game Manufacturer: <%= @game.manufacturer.name %></h2>
 <% if @game.game_owner_id == current_user.id %>
<form action="/games/<%= @game.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="Delete Game" value="Delete Game">
  
 
</form><br>


<a href="/games/<%= @game.id%>/edit">Edit Game </a>
<% end %>